<ion-item>
  <div id="content-wrapper">
    <div id='task-title-wrapper'>
      <h3>Aufgabe {{id + 1}}</h3>
      <p class="task-description" >{{description}}</p>
    </div>
    <ion-card class='card' >
      <ion-textarea [(ngModel)]="this.input" id="text-area" placeholder="Enter sql statement here">
      </ion-textarea>
    </ion-card>
    <ion-button class="submit" (click)="submit()" *ngIf="this.validation==0">
      <p *ngIf="this.validation == 0">Submit</p>
    </ion-button>
    <ion-button class="submit" (click)="submit()" *ngIf="this.validation==1" style="--background: #7df0a9">
      <ion-icon name="checkmark-outline" *ngIf="this.validation == 1"></ion-icon>
    </ion-button>
    <ion-button class="submit" (click)="submit()" *ngIf="this.validation==2" style="--background: #f07d7d">
      <ion-icon name="close-outline" *ngIf="this.validation == 2"></ion-icon>
    </ion-button>
  </div>
</ion-item>


