#task-title-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.task-description{
    margin-bottom: 0px;
}

h3 {
    margin-top: 5vh;
    margin-bottom: 0px;
}

#content-wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    min-height: 20vh;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5vh;
}

#text-area{
    width: 90%;
    margin-left: 5%;
}